.wrapper {
    height: 100%;
    width: 100%;
    .content__box {
        background-color: red;
        h1 {
            font-size: 30px;
            text-transform: capitalize;
        }
        p {
            margin-top: 20px;
            font-size: 20px;
            color: blue;
            text-shadow: rgb(224, 221, 221) 0.5px 0.5px;
            font-weight: bold;
            text-transform: uppercase;
            font-style: italic;
            text-decoration: underline;
        }
    }
}